[submodule "Fragments-in-Android"]
	path = Fragments-in-Android
	url = https://github.com/krishporwal14/Fragments-in-Android.git
[submodule "Text-to-Speech"]
	path = Text-to-Speech
	url = https://github.com/krishporwal14/Text-to-Speech.git
[submodule "Bluetooth-Toggle"]
	path = Bluetooth-Toggle
	url = https://github.com/krishporwal14/Bluetooth-Toggle.git
