[submodule "Fragments-in-Android"]
	path = Fragments-in-Android
	url = https://github.com/krishporwal14/Fragments-in-Android.git
[submodule "Text-to-Speech"]
	path = Text-to-Speech
	url = https://github.com/krishporwal14/Text-to-Speech.git
[submodule "Bluetooth-Toggle"]
	path = Bluetooth-Toggle
	url = https://github.com/krishporwal14/Bluetooth-Toggle.git
[submodule "Accelerometer-Sensor"]
	path = Accelerometer-Sensor
	url = https://github.com/krishporwal14/Accelerometer-Sensor.git
[submodule "Open-Website"]
	path = Open-Website
	url = https://github.com/krishporwal14/Open-Website.git
[submodule "Phone-Call-using-Android"]
	path = Phone-Call-using-Android
	url = https://github.com/krishporwal14/Phone-Call-using-Android.git
[submodule "Student-Management-System"]
	path = Student-Management-System
	url = https://github.com/krishporwal14/Student-Management-System.git
